body {
	font-size:16px;
	color: #24292e;
	font-family:'Lato',sans-serif,Helvetica;
}
img {
	max-width:100%
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Lato',sans-serif,Helvetica;
}

.item {
padding-top:100px;
min-height:150px;
position:relative
}

.item:before,.last-item:after {
background:#fff;
border:8px solid #000;
border-radius:50%;
width:40px;
height:40px;
display:inline-block;
content:"";
margin-left:1rem;
position:relative;
z-index:1;
left:calc(2% - 36px)
}
.vertical-line {
width:8px;
background-color:#000;
position:absolute;
left:calc(2% - 5px);
top:0;
bottom:0
}
.item .card-panel {
margin:0;
margin:2rem 0 0 3rem
}
.item-date {
margin-top:-60px;
margin-left:4rem
}
.cv-title {
margin-bottom:0;
margin-left:calc(2% - 5px);
line-height:190%
}
.cv-title span {
padding:1rem
}
.last-item{
padding-top:80px;
height:70px;
position:relative
}
.btn-read-more{
	font-size: 20px;
	height: 30px;
	color: #039be5;
}
.btn-read-more:hover{
	color:#00405F;
}
.post-date {
margin-left:4rem
}

code {
	font-family: 'Inconsolata', monospace;
}


.item h1 {
    font-size: 26px
}

.item h2 {
    font-size: 24px
}

.item h3 {
    font-size: 22px
}

.item h4 {
    font-size: 20px
}

.item h5 {
    font-size: 18px
}

.item h6 {
    font-size: 16px
}

.excerpt-title{
	color: #444;
	font-weight: 700;
}
.excerpt-content{
	color: #666;
	font-size: 16px;
}

.item blockquote{
	border-left: 4px solid #dfe2e5;
	padding: 0 1em;
	color: #6a737d;
	margin-top: 0;
	margin-bottom: 16px;
}

ol, ul {
	list-style: none; 
}

.item ol {	
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 16px;
	padding-left: 32px;
	list-style-type: decimal; 
} 

.item ul {
	line-height: 24px;
	margin-top: 0px;
	margin-bottom: 16px;
	padding-left: 32px;
	display: block;
	list-style-type: disc; 
}

.item li{
	display: list-item;
}