---
layout: default
---

<div class="container row">
   <!--  <h1 class="cv-title"><span class="black white-text">{{ page.title }}</span></h1> -->

    <div class="item post-content-layout">
        <h2 class="item-date excerpt-title">{{ page.title }}</h2>
        <h5 class="post-date">
            {{ page.date | date: '%Y-%m-%d' }}
            {% if page.author %} <span class="new badge grey" data-badge-caption="">&nbsp;&nbsp;{{page.author}}&nbsp;&nbsp;</span>{% endif %} 
        </h5>

        <div class="card-panel">
            <!-- <h3 class="card-title">
                {{ page.title }}
            </h3> -->
            <p>
                {{ content }}
            </p>
        </div>
    </div>


</div>